body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: radial-gradient(circle at center, #155e30 0%, #0b3e1c 100%);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
